apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: mern-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: mernacr12345.azurecr.io/frontend:latest
          ports:
            - containerPort: 3000
          env:
            - name: REACT_APP_AUTH_URL
              value: http://auth-service:5000
            - name: REACT_APP_PRODUCT_URL
              value: http://product-service:5001
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "250m"
              memory: "256Mi"