apiVersion: v1
kind: Service
metadata:
  name: mongo-service
  namespace: mern-app
  labels:
    app: mongo
spec:
  type: ClusterIP
  selector:
    app: mongo
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
      protocol: TCP